* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #005B41;
  --color-secondary: #008170;
  --color-dark: #045811;
  --color-bg: #232D3F;

  /* Fonts */
  --font-roboto: "Roboto";
}

/* https://colorhunt.co/palette/0f0f0f232d3f005b41008170 */